<o-grid #grid attr="employees" service="employees" entity="employee"
  columns="EMPLOYEEID;EMPLOYEETYPEID;EMPLOYEENAME;EMPLOYEESURNAME;EMPLOYEEADDRESS;EMPLOYEESTARTDATE;EMPLOYEEEMAIL;OFFICEID;EMPLOYEEPHOTO;EMPLOYEEPHONE;EMPLOYEECOMMENTS"
  cols="3" keys="EMPLOYEEID" pageable="no" query-rows="16" fixed-header="yes" >
  <o-grid-item *ngFor="let item of grid.dataArray">
    <o-column layout-padding class="container-item">
      <div fxLayout="column" class="employee-data">
          <o-image show-controls="no" width="100" data={{item.EMPLOYEEPHOTO}}
            empty-image="./assets/images/no-image.png"></o-image>
        <h4 class="name">{{ item.EMPLOYEENAME }} {{ item.EMPLOYEESURNAME }}</h4>
        <ng-template [ngIf]=item.EMPLOYEEEMAIL>
          <div class="email">
            <mat-icon>email</mat-icon><span> {{ item.EMPLOYEEEMAIL }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]=item.EMPLOYEEPHONE>
          <div class="phone">
            <mat-icon>phone</mat-icon><span> {{ item.EMPLOYEEPHONE }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]=item.EMPLOYEEBRANCH>
          <span>{{ item.EMPLOYEEBRANCH }}</span>
        </ng-template>
        <ng-template [ngIf]=item.EMPLOYEEADDRESS>
          <div class="address">
            <mat-icon>home</mat-icon><span> {{ item.EMPLOYEEADDRESS }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]=item.EMPLOYEECOMMENTS>
          <div class="address">
            <mat-icon>comments</mat-icon><span> {{ item.EMPLOYEECOMMENTS }}</span>
          </div>
        </ng-template>


      </div>
    </o-column>
  </o-grid-item>
</o-grid>