 <o-grid #grid attr="customers" service="customers" entity="customer" title="{{'CUSTOMERS' | oTranslate }}"
  columns="CUSTOMERID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL;COMMENTS;COMMENTS_EN_US;COMMENTS_ES_ES;COMMENTS_GL_ES"
  cols="3" keys="CUSTOMERID" query-rows="16" fixed-header="yes" show-page-size="no" page-size-options="24;32;64">
  <o-grid-item *ngFor="let item of grid.dataArray">
    <o-column layout-padding class="container-item">
      <div fxLayout="column" class="customer-data">
          <o-image show-controls="no" width="100" data={{item.PHOTO}}
            empty-image="./assets/images/no-image.png"></o-image>
        <h4 class="name">{{ item.NAME }} {{ item.SURNAME }}</h4>
        <ng-template [ngIf]=item.EMAIL>
          <div class="email">
            <mat-icon>email</mat-icon><span> {{ item.EMAIL }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]=item.STARTDATE>
          <div class="date">
            <mat-icon>event</mat-icon><span> {{ item.STARTDATE }}</span>
          </div>
        </ng-template>
        <ng-template [ngIf]=item.COMMENTS>
          <div class="comments">
            <mat-icon>comments</mat-icon><span> {{ item.COMMENTS }}</span>
          </div>
        </ng-template>
      </div>
    </o-column>
  </o-grid-item>
</o-grid>