<o-card-menu-layout parent-menu-id="views">
  <o-card-menu-item button-text="Show" title="Customers" tooltip="View List" image="assets/images/baseline_person_black_24dp.png"></o-card-menu-item>
  <o-card-menu-item button-text="Show" title="Accounts" tooltip="View List" image="assets/images/baseline_account_balance_black_24dp.png"></o-card-menu-item>
  <o-card-menu-item button-text="Show" title="Branches" tooltip="View List" image="assets/images/baseline_account_balance_wallet_black_24dp.png"></o-card-menu-item>
  <o-card-menu-item button-text="Show" title="Employees" tooltip="View List" image="assets/images/baseline_local_bar_black_24dp.png"></o-card-menu-item>

</o-card-menu-layout>
